html,
body,
.container,
.row {
    height: 100%;
}

.list-group-item {
    background: rgb(240, 240, 240);
    color: rgb(34, 34, 34);
    border-bottom: 1px solid rgb(221, 221, 221);
}


.list-group-item :first-child {
    margin-right: 0%;
}

.list-group-item:nth-last-of-type(1) {
    border-bottom: 0;
    
}

.list-group-item:hover {
    background: rgb(221, 221, 221);
}


.form-control {
    display: table-cell;
    width: 100%;
    padding: 0rem;
    background-image: none;
}


img {
    /* object-fit: cover */
    width: 50px;
    height: 50px;
    background: none;
    padding: 15px;
    transition: 0.5s ease;
    opacity: 0;

    
}

.item:hover img {
    visibility: visible;
    opacity: 100;

}

input {
    /* width: 500px; */
    /* padding-right: 1px; */
}

.item {
    padding: 0 0 0 15px;

}

.completedItem {
    color: grey;
    text-decoration: line-through !important;
}

/* span {
    padding-right: 10px;
} */

.delete {
     margin-left: auto;
}


li {
    height: 50px;
}

p {
    padding: 0;
    margin: 0;
}