html,
body {
  min-height: 100vh;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Nanum Gothic', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to top, #e6dada, #274046);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.particles {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.Tilt {
  margin-top: 30px;
  padding: 25px;
  fill: rgb(250, 250, 250);
}

.face {
  height: 300px;
  height: 200;
  border-radius: 5px;
  fill: rgb(250, 250, 250);
  background: rgba(255, 255, 255, 0.055);
}

form {
  color: rgb(250, 250, 250);
}
.rank {
  color: rgb(250, 250, 250);
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.form-over-button {
  margin-bottom: 50px;
}
.form-control {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-left: 10px;
  color: rgb(250, 250, 250);
}
.form-control::placeholder {
  color: rgb(228, 228, 228);
}
.form-control:focus {
  color: rgb(228, 228, 228);
  box-shadow: none !important;
  border-bottom: 1px solid;
  background-color: rgba(255, 255, 255, 0.055);
}
.form-control:hover {
  color: rgb(228, 228, 228);
  box-shadow: none !important;
  border-bottom: 1px solid;
  background-color: rgba(255, 255, 255, 0.055);
  transition: 0.3s ease-in-out;
}
.submit-button {
  margin-top: 20px;
}

a {
  color: rgb(209, 209, 209);
}

a:hover {
  color: rgba(255, 255, 255, 0.7);
}

.btn {
  color: rgb(250, 250, 250);
}
.btn:hover,
.btn:focus {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  background: rgba(0, 0, 0, 0.055);
  color: rgb(250, 250, 250);
}

.wrap {
  position: relative;
}

.bounding-box {
  border-radius: 10px;
  position: absolute;
  box-shadow: inset 0 0 0 2px rgb(250, 250, 250);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  z-index: 100;
}

.sign-in {
  margin-top: 25px;
}
