html,
body {
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    height: 100%;
}

.container-fluid {
    height: 100%;
    background: rgb(58, 58, 58);


}

h1, h3 {
    color: white;
}

.row {
    margin-bottom: 0px;
    padding-left: 25%;
    padding-right: 25%;
}

.blue-row {
    background: rgb(82, 112, 179);
    justify-content: center;
}

.white-row {
    background: rgb(255, 255, 255);
}

.grey-row {
    justify-content: space-around;
    margin-top: 1%;
}

.color-box {
    background: rgb(197, 197, 197);
    width: 30%;
    margin: 1.6%;
    height: 13vw;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-inactive {
    display: inline-block;
    margin-bottom: 0rem;
    padding: 0.2rem;
}

.btn-inactive:hover {
    display: inline-block;
    background: rgb(230, 230, 230);
    transition: all ease 0.3s
}
.btn-inactive:hover {
   background: $
}


--color: 