.row {
    margin: 0;
    padding: 0;
}

html,
body {
    background: rgb(241, 241, 241);
    height: 100%;
}



.darkrow {
    background: rgb(199, 199, 199);
    position: sticky;
}


.col-2 {
    background: rgb(219, 219, 219);
    position: sticky;
}
.col-sm-12 {
    background: grey;
}