html,
body {
  min-height: 100vh;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Nanum Gothic', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to top, #e6dada, #274046);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Tilt {
  margin-top: 50px;
  /* width: 200px; */
  padding: 25px;
  border-radius: 20px;
  fill: white;
  background: linear-gradient(
    270deg,
    rgba(188, 109, 204, 0.7) 0%,
    rgba(0, 198, 255, 0.4) 100%
  );
}

.face {
  margin-top: 50px;
  height: 300px;
  height: 200;
  padding: 25px;
  border-radius: 20px;
  fill: white;
  background: linear-gradient(
    270deg,
    rgba(188, 109, 204, 0.7) 0%,
    rgba(0, 198, 255, 0.4) 100%
  );
}

form {
  color: white;
  margin-top: 50px;
}

.form-control {
  background-color: transparent !important;
  color: white;
}
.form-control::placeholder {
  color: rgb(228, 228, 228);
}
.form-control:focus {
  color: rgb(228, 228, 228);
  border: 1px solid rgb(233, 233, 233);
  box-shadow: none;
}

a {
  color: rgb(209, 209, 209);
}

a:hover {
  color: rgba(255, 255, 255, 0.7);
}
