.top-offset {
    margin-top: 100px;
}

.jumbotron {
    padding: 2rem;
    background: #f5f5f5;
    /* box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12); */
}

img {
    height: 200px;
    object-fit: cover;
}

a {

}
a:hover {
    text-decoration: none;
}

/* *{
    box-shadow: none !important;
} */
.navbar, .jumbotron, .card {
    box-shadow: 0 1px 1px 0 rgba(60,64,67,.08), 0 1px 3px 1px rgba(60,64,67,.16);
    background: rgb(255, 255, 255) !important;
}
.jumbotron, .card {
    border-radius: 5px !important;
    overflow: hidden;
}