<% include ../partials/header %>

<div class="container top-offset">
    <div class="row">
        <div class="col p-0">
            <div class="card m-3">
                <div class="card-body">
                <h5 class="card-title">New comment on <%= oneCampground["name"] %></h5>
                    <form action="/campgrounds/<%= oneCampground["_id"]%>/comments" method="POST">
                        <div class="form-group">
                            <input type="text" class="form-control" name="newComment[text]" placeholder="Text">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <a class="btn btn-primary" href="/campgrounds">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>