.container {
    width: 100%;
}

.img-fluid {
    object-fit: none;
    /* Do not scale the image */
    object-position: center;
    /* Center the image within the element */
    width: 100%;
    height: 250px;
    margin-bottom: 1.5rem;
    transition: 0.5s;
}

.img-fluid:hover {
    opacity: 0.70;
}

.rounded {
    border-radius: 0.35rem !important;
}