<!DOCTYPE html>
<html lang="en">

<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
  <link rel="stylesheet" href="/app.css">
</head>

<body>
  <div class="ui menu fixed">
    <div class="header item">
      <i class="code large icon"></i> LOGO
    </div>
    <a class="item" href="/posts">
      Home
    </a>
    <a class="item" href="/posts/new">
      New blogpost
    </a>
  </div>