body, html {
    margin-top: 56px;
}

.navbar, .jumbotron, .card {
    box-shadow: 0 1px 1px 0 rgba(60,64,67,.08), 0 1px 3px 1px rgba(60,64,67,.16);
    background: rgb(255, 255, 255) !important;
}

.jumbotron, .card, .alert {
    border-radius: 5px !important;
    overflow: hidden;
}

.jumbotron {
    padding: 2rem;
    background: #f5f5f5;
}

.align-text {
    text-align: justify;
    text-justify: inter-word;
}

.img-index {
    height: 200px;
    object-fit: cover;
}

.img-show {
    height: 500px;
    object-fit: cover;
}

a:hover {
    text-decoration: none;
}

.alert {
    box-shadow: 0 1px 1px 0 rgba(60,64,67,.08), 0 1px 3px 1px rgba(60,64,67,.16);
    position: fixed; 
    bottom: 0px; 
    right: 0px; 
    z-index:9999; 
}

form {
    margin-bottom: 0px;
}

.inline-form {
    background: red;
    display: inline;
}

hr {
    margin: 0;
}

/* Hide all box shadows */
/* *{
    box-shadow: none !important;
} */

/* use this to hide scrollbar */
/* body::-webkit-scrollbar {
    display: none;
} */