.header {
	color: rgb(34, 34, 34);
	background: rgb(245, 245, 245);
}
.header * {
	color: rgb(34, 34, 34);
	background: rgb(245, 245, 245) !important;
	font-size: 1.5rem;
}
.nav-link {
	padding-left: 1rem !important;
}
.new-contact {
	text-align: center;
	margin-top: 20px;
	/* background: rgb(245, 245, 245); */
}

input,
label {
	width: 100%;
	text-align: left;
}

.fa-angle-down {
	font-size: 1.8rem;
	transform: translateY(0.25rem);
	padding-left: 0.25em;
	cursor: pointer;
}

.fa-times {
	float: right;
	font-size: 1.5rem;
	transform: translateY(0.25rem);
	color: red;
}
.fa-pen {
	float: right;
	font-size: 1.05rem;
	padding-right: 0.7em;
	transform: translateY(0.5rem);
	color: #212529;
}

.fa-times:hover {
	cursor: pointer;
}
